@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.mainFooter {
    bottom: 0;
    left: 0;
    height: 48px;
    padding: 0 16px;
    position: relative;
    width: 100%;
    background: rgba($sy-gray-09, 0.9);
    box-shadow: $shadow-btm rgba($sy-black, 0.1);
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    // &__deco_center {
    //     position: absolute;
    //     background: rgba($sy-gray-09, 0.9);
    //     width: 100%;
    //     left: 0;
    //     height: 32px;
    //     top: -32px;
    //     z-index: 1000;
    //     clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
    // }

    // &__deco_sub {
    //     position: absolute;
    //     left: 50%;
    //     transform: translate3d(-50%, 0, 0);
    //     width: 500px;
    //     min-width: 320px;
    //     height: 200px;
    //     background: rgba($sy-green, 0.1);
    //     top: -180px;
    //     border-radius: 4px 0 0 0;

    //     clip-path: polygon(5% 0, 95% 0, 100% 20%, 75% 100%, 25% 100%, 0 20%);
    // }
}
