@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.mainFooter {
    bottom: 0;
    left: 0;
    height: 48px;
    padding: 0 16px;
    position: relative;
    width: 100%;
    // background: rgba($sy-gray-09, 0.9);
    box-shadow: $shadow-btm rgba($sy-black, 0.1);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
