@charset "utf-8";
@import "../variables";
@import "../mixin/mixin";

.mainFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 48px;
    padding: 0 16px;
    width: 100%;
    background: rgba($sy-bg, 1);
    box-shadow: $shadow-btm rgba($sy-black, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    @include beforeLine($top: $sy-line);
}
