@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.main {
    // max-width: 1280px;
    // height: calc(100% - 48px);
    // min-height: 1280px;
    height: 100%;
    padding: 100px 16px 64px 16px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    @include desktop() {
        max-width: 1280px;
    }

    &__nav {
        position: relative;
        max-width: 320px;
        width: 100%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgba($sy-white, 0);
        border: $borderSize solid rgba($sy-line, 1);
        border-radius: 4px;
        transition: 0.4s;

        @include mobile() {
            position: fixed;
            left: 0;
            top: 48px;
            height: calc(100% - 96px);
            min-width: 271px;
            max-height: calc(100vh - 48px);
            background: rgba($sy-bg, 1);
            border: $borderSize solid rgba($sy-gray-04, 0);
            box-shadow: $shadow-default rgba($sy-black, 0.2);
            // backdrop-filter: blur(24px);
            transform: translateX(-320px);
            z-index: 101;
            // 상단 Tab보다 위에
            z-index: 15;
            // height: 100%;
        }

        &.isActive {
            transform: translateX(0);
        }

        &__header {
            padding: 16px 16px 0 16px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include beforeLine($btm: $sy-line);
        }

        &__profile {
            min-height: 240px;
        }

        &__list {
            position: relative;
            display: flex;
            flex-direction: column;

            // gap: 8px;
            @include beforeLine($top: $sy-line, $btm: $sy-line);
        }

        &__listItem {
            position: relative;
            padding: 8px;
            text-align: center;
            transition: 0.4s;
            // background: rgba($sy-black, 0);

            &.isActive {
                background: rgba($sy-black, 1);

                &:hover {
                    background: rgba($sy-black, 1);
                }

                h2 {
                    color: rgba($sy-white, 1);
                }
            }

            &:hover {
                background: rgba($sy-black, 0.5);

                h2 {
                    color: rgba($sy-white, 1);
                }
            }

            &:not(:last-child) {
                @include beforeLine($btm: $sy-line);
            }
        }

        &__contact {
            position: relative;
            @include beforeLine($top: $sy-line);

            button:not(:last-child) {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    right: -1px;
                    top: 6px;
                    width: 1.5px;
                    height: 80%;
                    background: rgba($sy-line, 1);
                }
            }
        }
    }

    &__contents {
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 0;
        background: rgba($sy-gray-01, 0);
        border: $borderSize solid rgba($sy-line, 1);
        border-radius: 4px;
        position: relative;

        @include scrollbar($bg-a: 0);

        &__header {
            padding: 16px 16px 0 16px;
            border-right: $borderSize solid rgba($sy-line, 1);
            z-index: 10;
            background: rgba($sy-bg, 0);
            box-shadow: $shadow-btm rgba($sy-black, 0);
            backdrop-filter: blur(60px);
            @include beforeLine($btm: $sy-line);
            transition: 0.4s;
            &.isActive {
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                background: rgba($sy-bg, 0.9);
                box-shadow: $shadow-btm rgba($sy-black, 0.2);
            }

            & > h1 {
                position: relative;
            }
        }

        &__body {
            border-right: $borderSize solid rgba($sy-line, 1);
            padding: 16px;
            min-height: 100%;
        }
    }
}

// .con_postList {
//     display: flex;
// }

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: $borderSize solid rgba($sy-gray-01, 1);
    background: rgba($sy-black, 1);
    background-image: url("../../images/profile/test.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.con_stack {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}

.stack {
    padding: 8px;
    border: $borderSize solid rgba($sy-pri, 1);
    width: calc(20% - 6.4px);
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    max-height: 56px;
    position: relative;

    $srcNameList: "ps", "ai", "id", "figma", "react", "html", "css", "js",
        "scss", "ts";

    @each $srcName in $srcNameList {
        div[data-name="#{$srcName}"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 32px;
            height: 32px;
            background: center no-repeat / contain;
            background-image: url("../../images/stack/#{$srcName}.svg");
            transition: 0.4s;
            opacity: 1;
        }

        h6 {
            transition: 0.2s;
            opacity: 0;
        }
    }

    &.isActive {
        div {
            opacity: 0;
        }
        h6 {
            opacity: 1;
        }
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.pageContact {
    &__section {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        gap: 16px;

        h3 {
            position: relative;
            @include beforeLine($btm: $sy-line);
        }
    }
}
