@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.pageNav {
    position: fixed;
    top: 48px;
    min-height: 28px;
    width: 100%;
    background: rgba($sy-white, 0.5);
    backdrop-filter: blur(8px);
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    box-shadow: $shadow-out rgba($sy-black, 0.2);
    // 일반적으로 mainContents보다 위에
    z-index: 1;

    @include beforeLine($btm: $sy-line);
    a {
        @include h4();
    }
}
