@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.pageNav {
    position: fixed;
    top: 48px;
    min-height: 28px;
    width: 100%;
    background: rgba($sy-white, 0);
    backdrop-filter: blur(120px);
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    // box-shadow: $shadow-out rgba($sy-black, 0.2);
    // 일반적으로 mainContents보다 위에
    z-index: 1;

    @include beforeLine($btm: $sy-line);
    a {
        @include h4();
    }

    form {
        display: flex;
        justify-content: flex-end;
    }
}

.scrollNav {
    position: fixed;
    top: 36px + 48px;
    left: 0;
    width: 100%;
    height: 4px;
    // border-top: $borderSize solid rgba($sy-line, 1);
    // border-bottom: $borderSize solid rgba($sy-line, 1);
    background: rgba($sy-bg, 1);
    z-index: 1;

    &__thumb {
        height: 100%;
        background: rgba($sy-line, 1);
        transition: 0.4s;
    }
}
