@charset "utf-8";

@mixin font($size: 1.6rem, $height: 1.5em, $weight: 500, $spacing: 0) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    letter-spacing: $spacing;
}

// text overflow ... 처리
@mixin ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

@mixin ellipsis-text2($length: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $length;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin absoluteCenter($t: 50%, $l: 50%, $x: -50%, $y: -50%, $z: 0) {
    top: $t;
    left: $l;
    transform: translate3d($x, $y, $z);
}

@mixin h1 {
    @include font(2.8rem, 4.2rem, 800, 0);
}

@mixin h2 {
    @include font(2.4rem, 1.5em, 800, 0);
}

@mixin h3 {
    @include font(2rem, 1.5em, 500, 0);
}

@mixin h4 {
    @include font(1.6rem, 1.5em, 500, 0);
}

@mixin h5 {
    @include font(1.4rem, 1.5em, 500, 0);
}

@mixin h6 {
    @include font(1.2rem, 1.5em, 400, 0);
}

@mixin xl {
    padding: 0.85715em 1em;
}

@mixin lg {
    padding: 0.57143em 1em;
}

@mixin mid {
    padding: 0.28572em 1em;
}

@mixin sm {
    @include h6;
    padding: 0.29167em 1em;
}

@mixin xs {
    @include h6;
    font-size: 1rem;
    padding: 0.1em 1em;
}

@mixin beforeLine(
    $w: calc(100% - 1px),
    $h: calc(100% - 1px),
    $top: "",
    $btm: "",
    $left: "",
    $right: ""
) {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $w;
        height: $h;
        border-top-color: $top;
        border-bottom-color: $btm;
        border-left-color: $left;
        border-right-color: $right;

        @if $top != "" {
            border-top-style: solid;
            border-top-width: $borderSize;
        }

        @if $btm != "" {
            border-bottom-style: solid;
            border-bottom-width: $borderSize;
        }

        @if $left != "" {
            border-left-style: solid;
            border-left-width: $borderSize;
        }

        @if $right != "" {
            border-right-style: solid;
            border-right-width: $borderSize;
        }
        z-index: -1;
    }
}

@mixin scrollbar(
    $bg-c: $sy-gray-03,
    $bg-a: 1,
    $track-c: $sy-gray-03,
    $track-a: 0,
    $thumb-c: $sy-gray-05,
    $thumb-a: 0.4
) {
    &::-webkit-scrollbar {
        background: rgba($bg-c, $bg-a);
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: rgba($track-c, $track-a);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($thumb-c, $thumb-a);
        border: 1.5px solid rgba($bg-c, $bg-a);
        border-radius: 8px;
    }
}

@mixin a11y-hidden() {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0); /* IE 6,7 */
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    &.focusable:focus {
        overflow: visible;
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
    }
}

$breakpoint-mobile: 0px; //335
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-overDesktop: 1680px;

// @mixin underMobile {
//     @media (max-width: #{$breakpoint-mobile}) {
//         @content;
//     }
// }

@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin overDesktop {
    @media (min-width: #{$breakpoint-overDesktop}) {
        @content;
    }
}
