@charset "utf-8";

// color
// $sy-pri: #458d6b;
$sy-pri: #333333;
$sy-sec: #dbd1cc;
// $sy-bg: #faf7ee;
$sy-bg: #e1ded3;
$sy-line: #68635e;

$sy-white: #ffffff;
$sy-black: #2b2b2b;
$sy-gray-01: #fafafa;
$sy-gray-02: #e0e0e0;
$sy-gray-03: #c9c9c9;
$sy-gray-04: #aaaaaa;
$sy-gray-05: #868686;
$sy-gray-06: #666666;
$sy-gray-07: #424242;

$sy-red: #ff5b5b;
$sy-yellow: #ffd951;
$sy-green: #3cdf98;
$sy-cyan: #02cde8;
$sy-blue: #0089d6;
$sy-purple: #ad28dc;
$sy-pink: #ff5c9a;
$sy-livid: #aac5da;

$borderSize: 1.5px;

$shadow-out: 0px 0px 6px -1px;
$shadow-in: 0px -5px 6px 7px;
$shadow-btm: 0px 4px 8px -1px;
$shadow-default: 0px 0px 4px -1px;

$gradient_field: linear-gradient(
        180deg,
        rgba(246, 246, 246, 0.6) 0%,
        rgba(224, 224, 224, 0.6) 100%
    ),
    rgba(224, 224, 224, 0.6);

$gradient_edit: linear-gradient(
    270deg,
    #ffffff 0%,
    #ad28dc 11.72%,
    #5c4af6 50%
);

$gradient_red: linear-gradient(180deg, #ff5b5b 0%, #ff5c9a 100%);
$gradient_purple: linear-gradient(90deg, #ad28dc 0%, #5c4af6 100%);
$gradient_green: linear-gradient(90deg, #3cdf98 0%, #1fd9a6 100%);
