@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.projectCard {
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 60.13%
        ),
        rgba(255, 255, 255, 0.05);
    border: $borderSize solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    transition: 0.4s;

    @include tablet() {
        width: calc(100% - 4px);
    }

    @include desktop() {
        width: calc(50% - 4px);
    }

    @include overDesktop() {
        width: calc(33.3333% - 5.3333px);
    }

    &:hover {
        background: linear-gradient(
                180deg,
                rgba(196, 196, 196, 0.2) 0%,
                rgba(255, 255, 255, 0.2) 60.13%
            ),
            rgba(255, 255, 255, 0.8);
    }

    &__cspImage {
        position: absolute;
        width: 160px;
        height: 80px;
        left: 16px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }

    .select {
        position: absolute;
        width: 80px;
        // TODO:나중에 수정
        height: 48px;
        right: 16px;
        top: calc(100% - 4px);
    }

    &__visual {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 8px 16px;
        height: 100%;
    }

    &__info {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 16px;

        @include beforeLine($top: $sy-gray-03);
    }

    &__indicator {
        width: calc(100% - 64px);
        height: 8px;
        border-radius: 50px;
        background: rgba($sy-white, 1);
        padding: 1px;
        position: relative;

        &__value {
            background: rgba($sy-green, 1);
            border-radius: 50px;
            height: 100%;
            box-shadow: inset 0px -2px 3px #01cb94, inset 1px 1px 2px #c9fff0;
        }
    }
}

.templateCard {
    padding: 8px;
    position: relative;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05);
    border: $borderSize solid rgba(255, 255, 255, 0.3);
    box-shadow: $shadow-out rgba($sy-pri, 0);
    border-radius: 16px;
    transition: 0.4s;

    &:hover,
    &.isActive {
        background: rgba($sy-white, 1);
        border: $borderSize solid rgba($sy-pri, 1);
        box-shadow: $shadow-out rgba($sy-pri, 0.2);

        .templateCard__img__background {
            transform: scale(1.1);
        }
    }

    &[s-column="column2"] {
        width: 100%;
    }
    &[s-column="column4"] {
        width: calc(50% - 4px);
    }
    &[s-column="column6"] {
        width: calc(33.3333% - 12px);

        .templateCard__info {
            h3 {
                @include ellipsis-text();
            }
        }
    }

    &__img {
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        background: rgba($sy-gray-05, 0.5);

        &__background {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 0.6s;
        }

        .icon_zoom[ly-use="default"][ly-type="block"] {
            position: absolute;
            right: 8px;
            bottom: 8px;
            background: rgba($sy-white, 0.8);
            color: rgba($sy-pri, 1);
            border: $borderSize solid rgba($sy-pri, 0);

            box-shadow: $shadow-btm rgba($sy-black, 0.2);

            &:hover {
                background: rgba($sy-white, 1);
            }
        }
    }
}
