@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.projectCard {
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 60.13%
        ),
        rgba(255, 255, 255, 0.05);
    border: $borderSize solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    transition: 0.4s;

    @include tablet() {
        width: calc(100% - 4px);
    }

    @include desktop() {
        width: calc(50% - 4px);
    }

    @include overDesktop() {
        width: calc(33.3333% - 5.3333px);
    }

    &:hover {
        background: linear-gradient(
                180deg,
                rgba(196, 196, 196, 0.2) 0%,
                rgba(255, 255, 255, 0.2) 60.13%
            ),
            rgba(255, 255, 255, 0.8);
    }
}

