@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

$borderColor: $sy-gray-04;
$backColor: $sy-gray-02;
$textColor: $sy-gray-07;
$placeholderColor: $sy-gray-05;
$borderRadius: 4px;

.input:not([type="radio"]):not([type="checkbox"]),
.textarea {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: $borderSize solid;
    min-width: 80px;
    height: max-content;
    transition: 0.4s;
    gap: 4px;
    @include h5;
    font-weight: 500;

    &::placeholder {
        color: rgba($placeholderColor, 1);
    }

    &[ly-size="xl"] {
        padding: 0.85715em 1em;
    }

    &[ly-size="lg"] {
        padding: 0.57143em 1em;
    }

    &[ly-size="mid"] {
        padding: 0.28572em 1em;
    }

    &[ly-size="sm"] {
        @include h6;
        font-weight: 500;
        padding: 0.29167em 1em;
    }

    &[ly-type="box"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="box-line"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="block"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="block-line"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="round"]:not(textarea) {
        border-radius: 50px;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="round-line"]:not(textarea) {
        border-radius: 50px;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="text"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 0);
    }

    &[ly-type="underline"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-top-color: rgba($borderColor, 0);
        border-left-color: rgba($borderColor, 0);
        border-right-color: rgba($borderColor, 0);
        border-bottom-color: rgba($borderColor, 1);
    }

    &:disabled {
        color: rgba($placeholderColor, 1);
        border-color: rgba($borderColor, 1);
        background: rgba($borderColor, 1);
    }

    &:focus:not([ly-focus="false"]):not([ly-invalid="invalid"]):not([ly-invalid="valid"]) {
        border-color: rgba($sy-pri, 1);
        box-shadow: 0px 0px 6px -1px rgba(32, 111, 214, 0.5);

        &[ly-type="text"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-pri, 1);
            box-shadow: inset 0px -5px 6px -7px rgba(32, 111, 214, 0.5);
        }

        &[ly-type="underline"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-pri, 1);
            box-shadow: inset 0px -5px 6px -7px rgba(32, 111, 214, 0.5);
        }
    }

    &[ly-invalid="invalid"] {
        border-color: rgba($sy-red, 1);
        box-shadow: 0px 0px 6px -1px rgba(255, 91, 91, 0);

        &:focus {
            box-shadow: 0px 0px 6px -1px rgba(255, 91, 91, 0.5);
        }

        &[ly-type="text"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-red, 1);
            box-shadow: 0px 0px 6px -1px rgba(255, 91, 91, 0);
            box-shadow: inset 0px -5px 6px -6px rgba(255, 91, 91, 0);

            &:focus {
                box-shadow: inset 0px -5px 6px -6px rgba(255, 91, 91, 0.5);
            }
        }

        &[ly-type="underline"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-red, 1);
            box-shadow: 0px 0px 6px -1px rgba(255, 91, 91, 0);
            box-shadow: inset 0px -5px 6px -6px rgba(255, 91, 91, 0);

            &:focus {
                box-shadow: inset 0px -5px 6px -6px rgba(255, 91, 91, 0.5);
            }
        }
    }

    &[ly-invalid="valid"] {
        border-color: rgba($sy-green, 1);
        box-shadow: 0px 0px 6px -1px rgba(31, 217, 166, 0);

        &:focus {
            box-shadow: 0px 0px 6px -1px rgba(31, 217, 166, 0.5);
        }

        &[ly-type="text"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-green, 1);
            box-shadow: 0px 0px 6px -1px rgba(31, 217, 166, 0);
            box-shadow: inset 0px -4px 6px -4px rgba(31, 217, 166, 0);

            &:focus {
                box-shadow: inset 0px -5px 6px -6px rgba(31, 217, 166, 0.5);
            }
        }

        &[ly-type="underline"] {
            border-top-color: rgba($borderColor, 0);
            border-left-color: rgba($borderColor, 0);
            border-right-color: rgba($borderColor, 0);
            border-bottom-color: rgba($sy-green, 1);
            box-shadow: 0px 0px 6px -1px rgba(31, 217, 166, 0);
            box-shadow: inset 0px -4px 6px -4px rgba(31, 217, 166, 0);

            &:focus {
                box-shadow: inset 0px -5px 6px -6px rgba(31, 217, 166, 0.5);
            }
        }
    }
}

// textarea

.textarea {
    resize: none;
    @include scrollbar($bg-a: 0);

    &[ly-size="xl"] {
        min-height: 111px;
    }

    &[ly-size="lg"] {
        min-height: 82px;
    }

    &[ly-size="mid"] {
        min-height: 53px;
    }

    &[ly-type="round"] {
        border-radius: 16px;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);

        &::-webkit-scrollbar {
            border-radius: 16px;
        }
    }

    &[ly-type="round-line"] {
        border-radius: 16px;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);

        &::-webkit-scrollbar {
            border-radius: 16px;
        }
    }
}

// radio
.radio {
    position: relative;
    min-height: 28px;
    display: flex;
    align-items: center;

    input[type="radio"] {
        @include a11y-hidden();
    }

    label {
        @include h5;
        padding-left: 32px;

        &::before {
            border-radius: 50%;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            background: $sy-gray-03;
        }

        &::after {
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            background: $sy-pri;
            box-shadow: 1px 1px 6px 1px rgba(32, 111, 214, 0.3);
            transition: 0.15s;
            content: "";
            opacity: 0;
        }
    }

    .isChecked::after {
        opacity: 1;
    }
}

// checkbox
.checkbox {
    position: relative;
    min-height: 28px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        @include a11y-hidden();
    }

    label {
        @include h5;
        padding-left: 32px;
        &::before {
            border-radius: 4px;

            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            background: $sy-gray-03;
        }
    }

    label:after {
        border-radius: 4px;

        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background: url("/images/icons/icon_checkbox.png") no-repeat center /
                contain,
            rgba($sy-pri, 1);
        box-shadow: 1px 1px 6px 1px rgba(32, 111, 214, 0.3);
        transition: 0.15s;
        content: "";
        opacity: 0;
    }

    .isChecked::after {
        opacity: 1;
    }
}

.select {
    position: relative;
    @include h5;

    select {
        @include a11y-hidden();
    }

    .isActive {
        .select__customOption {
            opacity: 1;
            backdrop-filter: blur(10px);
            // 상위로
            z-index: 10;
        }

        .select__icon {
            i {
                transform: rotate(-180deg);
            }
        }
    }
}

.select__customBox {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: $borderSize solid;
    min-width: 120px;
    height: max-content;
    transition: 0.4s;
    gap: 4px;
    font-weight: 500;

    &[ly-size="xl"] {
        padding: 0.85715em 1em;
    }

    &[ly-size="lg"] {
        padding: 0.57143em 1em;
    }

    &[ly-size="mid"] {
        padding: 0.28572em 1em;
    }

    &[ly-size="sm"] {
        @include h6;
        font-weight: 500;
        padding: 0.29167em 1em;
    }

    &[ly-type="box"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="box-line"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);

        .select__custom-option {
            border-radius: 0px;
            background: linear-gradient(
                    180deg,
                    rgba($backColor, 0) 0%,
                    rgba($borderColor, 0) 100%
                ),
                rgba($borderColor, 0);
        }
    }

    &[ly-type="block"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);

        .select__custom-option {
            border-radius: 4px;
        }
    }

    &[ly-type="block-line"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);

        .select__custom-option {
            border-radius: 4px;
            background: linear-gradient(
                    180deg,
                    rgba($backColor, 0) 0%,
                    rgba($borderColor, 0) 100%
                ),
                rgba($borderColor, 0);
        }
    }

    &[data-focus="true"] {
        border-color: rgba($sy-pri, 1);
        box-shadow: 0px 0px 6px -1px rgba(32, 111, 214, 0.5);
    }
}

.select__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        transition: 0.3s;
    }
}

.select__customOption {
    position: absolute;
    top: 0;
    left: 0px;
    width: calc(100% + 3px);
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden;
    transition: 0.4s;
    opacity: 0;
    transition-property: height, opacity, transform, overflow;
    height: 1px;
    margin: -1px;
    border: $borderSize solid;
    border-color: rgba($borderColor, 1);
    background: linear-gradient(
            180deg,
            rgba($backColor, 0) 0%,
            rgba($borderColor, 0) 100%
        ),
        rgba($borderColor, 0);
    padding: 1.5px;

    &[ly-type="box"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="box-line"] {
        border-radius: 0;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="block"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0.6) 0%,
                rgba($borderColor, 0.6) 100%
            ),
            rgba($borderColor, 0.6);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }

    &[ly-type="block-line"] {
        border-radius: $borderRadius;
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($borderColor, 0);
        color: rgba($textColor, 1);
        border-color: rgba($borderColor, 1);
    }
}

.select__customOption__item {
    width: 100%;
    padding-left: 8px;
    border: $borderSize solid rgba($borderColor, 0);
    word-break: break-all;
    background: rgba($sy-gray-02, 0.4);
    backdrop-filter: blur(30px);

    &:hover {
        background: rgba($sy-gray-05, 0.3);
        border-radius: 2px;
        cursor: pointer;
    }
}

.toggle {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: $borderSize solid rgba($borderColor, 1);
    height: max-content;
    transition: 0.4s;
    gap: 4px;
    @include h5;
    font-weight: 500;
    border-radius: 50px;

    background: linear-gradient(
            180deg,
            rgba($backColor, 0.6) 0%,
            rgba($borderColor, 0.6) 100%
        ),
        rgba($borderColor, 0.6);

    &[ly-size="xl"] {
        padding: 0.85715em 1em;
        min-height: 40px;
        width: 75px;
    }

    &[ly-size="lg"] {
        padding: 0.57143em 1em;
        min-height: 36px;
        width: 67px;
    }

    &[ly-size="mid"] {
        padding: 0.28572em 1em;
        min-height: 32px;
        width: 59px;
    }

    &[ly-size="sm"] {
        @include h6;
        font-weight: 500;
        padding: 0.29167em 1em;
        min-height: 28px;
        width: 51px;
    }

    &[ly-size="xs"] {
        @include h6;
        font-weight: 500;
        padding: 0.29167em 1em;
        min-height: 20px;
        width: 34px;
    }

    &[data-value="true"] {
        border: $borderSize solid rgba($sy-pri, 1);
        background: linear-gradient(
                180deg,
                rgba($backColor, 0) 0%,
                rgba($borderColor, 0) 100%
            ),
            rgba($sy-pri, 1);
        box-shadow: inset 0px 0px 6px -1px rgba(32, 111, 214, 0.2);

        .toggle__item {
            box-shadow: 0px 0px 6px -1px rgba(32, 111, 214, 0.5);
            background: rgba($sy-gray-01, 1);
            border: $borderSize solid rgba($sy-white, 1);
        }
    }

    &:disabled {
        background: rgba($sy-gray-05, 1);
        border: $borderSize solid rgba($borderColor, 1);

        .toggle__item {
            background: rgba($sy-gray-03, 1);
            border: $borderSize solid rgba($sy-gray-02, 1);
        }
    }

    .toggle__item {
        position: absolute;
        height: calc(100% - 2px);
        background: rgba($sy-gray-01, 1);
        border: $borderSize solid rgba($sy-white, 1);
        border-radius: 50%;
        transition: 0.3s;
    }
}
