@charset "utf-8";

@import "../variables";
@import "../mixin/mixin";

.postList {
    // background: teal;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
}

.post {
    min-height: 240px;
    border-radius: 8px;
    overflow: hidden;
    border: $borderSize solid rgba($sy-line, 1);
    background: rgba($sy-gray-02, 0);
    box-shadow: $shadow-btm rgba($sy-black, 0);
    transition: 0.4s;

    &:hover {
        box-shadow: $shadow-btm rgba($sy-black, 0.2);
    }

    @include desktop() {
        width: calc(50% - 8px);
    }

    @include tablet() {
        width: calc(50% - 8px);
    }

    @include mobile() {
        width: 100%;
    }

    &__img {
        background: rgba($sy-black, 1);
        min-height: 160px;
    }
}

